
<div class="card" id="c">
    <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Edit Username
              </button>
            </h2>
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <form class="form-inline">
                    <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName1" placeholder="New Username..">
                    <button type="button" class="btn btn-primary mb-2" id="changeusername">Change</button>
                </form>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Edit Status
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="New Status...">
                <button type="button" class="btn btn-primary mb-2" id="changestatus">Add</button>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Edit E-Mail
              </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                <input type="email" class="form-control mb-2 mr-sm-2" id="inlineFormInputName3" placeholder="New E-Mail..">
                <button type="button" class="btn btn-primary mb-2" id="changeemail">Change</button>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFour">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              Change Password
            </button>
          </h2>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
          <div class="card-body">
            <input type="password" class="form-control mb-2 mr-sm-2" id="inlineFormInputName6" placeholder="Current Password..">
<br>
            <input type="password" class="form-control mb-2 mr-sm-2" id="inlineFormInputName4" placeholder="New Password..">
            <input type="password" class="form-control mb-2 mr-sm-2" id="inlineFormInputName5" placeholder="Confirm Password..">
            <button type="button" class="btn btn-primary mb-2" id="changepassword">Change</button>
          </div>
        </div>
      </div>
    </div>
</div>