<style>
    #container{
        width:100vw; 
        background-image: url("https://res.cloudinary.com/dohdwfkhg/image/upload/v1591522608/ngsl3l9ng0fjgypudzvw.gif");
        height:570px;
        
        top:0px;
      
    }

    
    #c1{
        width: 95vw;
        display: flex;
        flex-direction: column;
        justify-content:center;
        flex-wrap: wrap;
        text-align: center;
        padding: 20px;
    }
    h1{
        padding: 10px;
        color: white;
    }
    #MC{
      text-shadow: 2px 2px 2px darkcyan;
      text-align:left;
       background-color:rgba(212, 212, 212, 0.9);
       color:darkslategrey;
       font-family:'Courier New', Courier, monospace;
       font-weight: bold;
      }
    
    @media screen and (max-width: 700px){
      .card{
        font-size: x-small;
        
      }
      
    }
    #bb{
      position: sticky;
      top:130px;
      padding: 0px;
    }
    #scrollable{
      overflow:auto;
        margin: 20px;
        box-shadow: 5px 5px 10px gray;
            border-radius: 10px;
            background-color: ivory;
            background-image: url("/Components/14.gif");
      white-space: nowrap;
      padding:30px;
    }
    h2{
      text-align: center;
            text-shadow: 2px 2px 5px gray;
            color: blanchedalmond;
    }
    h6{
      text-align: center;
            text-shadow: 2px 2px 5px gray;
            color: blanchedalmond;
    }




</style>
<div id="container"> 
  <nav class="navbar navbar-light"id="bb">
    <form class="form-inline">
      <a href="/P/createpost.html"><button class="btn btn-info" type="button" >Create New Post</button></a>
    </form>
  </nav>
    <h1><b>
    "CREATE
    ,POST AND
    EXPLORE"
    </b></h1>
    <div id="c1">
      <p>
          <a class="btn btn-info" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">OBJECTIVE</a>
          <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">FEATURES</button>
        </p>
        <div class="row">
          <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample1">
              <div class="card card-body" id="MC" >            
                Our aim is to give a platform to you guys,where you can create new posts related to your favourite topics and share your posts to all the users on our platform.If you think ,you are creative with your posts then surely you will get more likes and followers on our platfrom.
              </div>
            </div>
          </div>
          <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample2">
              <div class="card card-body" id="MC">
                  <ul>
                      <li>Create and post your articles,latest posts will be shown first in the trending section.</li>
                      <li>Posts are categorized into specific keywords or topics,and we call this trends represented by'#'</li>
                      <li>Most followed users will get a chance to appear on our elite section.</li>
                      <li>Members of elite section will unlock specific tags and will earn animated backgrounds.</li>
                  </ul>
      
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
<div style="text-align: center;width:100vw;border-radius: 10px;border:5px solid #5bc0de;background-color: rgba(253, 253, 237, 0.534);">
  <h2>Our Other Works</h2><br>
  <h6>(We also create edm tracks,you can check out below)</h6><br>
</div>

<div id="scrollable">
  <iframe width="500" height="200" src="https://www.youtube.com/embed/opcaIlDFf5s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <iframe width="500" height="200" src="https://www.youtube.com/embed/AhNUfukfY5Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <iframe width="500" height="200" src="https://www.youtube.com/embed/GbObfW8OkKE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <iframe width="500" height="200" src="https://www.youtube.com/embed/KBQIM9KEqSQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>


