
    <style>
        #succ{
                width:500px;
                height: 500px;
                margin: 10px;

                border-radius: 10px;
                padding: 5px;
                color: white;
                box-shadow: 5px 5px 10px gray;
                padding: 5px;

                background-color: rgba(187, 22, 143, 0.1);
                text-align: center;
             }
        #img1{
            width: 100px;
            height: 100px;
        }
        #sc{
            width: 100vw;
            display: flex;
            justify-content: center;
            background-image: url("https://res.cloudinary.com/dohdwfkhg/image/upload/v1591981895/t0mdbyqixmdep92mkxxx.gif");
        }
        
    </style>
    <div id="sc">
        <div id="succ">
            <h6>Login Successfull</h6>
            <img id="img1" src="/Components/1.png">
    
        </div>
    </div>

    

